.section-navbar {
  width: 100%;
  margin-bottom: calc(50px + 3rem);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
  position: relative;
  z-index: 10;
}

/* when navbar active, (stretch out). nav-backdrop will active to blur background around navbar */
.nav-backdrop {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  z-index: 1;
  background-color: hsla(0, 0%, 5%, 0.5);
  backdrop-filter: blur(4px);
  transition: all 0.5s cubic-bezier(0.4, 0, 0.2, 1);
  opacity: 0;
  visibility: hidden;
}

.nav-backdrop.open {
  visibility: visible;
  opacity: 1;
}
/* end navbar backdrop */

.nav {
  width: calc(100% - 18rem);
  position: fixed;
  top: 0rem;
  z-index: 2;
  border-bottom-left-radius: 1.7rem;
  border-bottom-right-radius: 1.7rem;
  background-color: hsla(0, 0%, 5%, 0.8);
  border: 1px solid hsla(0, 0%, 96%, 0.2);
  backdrop-filter: saturate(180%) blur(2px);
  transition: all 0.15s cubic-bezier(0.4, 0, 0.2, 1);
}

.nav.past-top {
  transform: translateY(-2rem);
}

.nav-inner {
  width: 100%;
}

.nav-top-container {
  width: 100%;
  height: 2rem;
}

.nav-top-wrapper {
  display: flex;
  height: 100%;
  position: relative;
}

.nav-announcement-bar-container {
  height: 100%;
  overflow: hidden;
  display: flex;
  align-items: center;
}

.nav-announce-slide {
  padding-left: 3rem;
  color: hsla(0, 0%, 96%, 0.8);
  font-size: 0.8rem;
  font-weight: 600;
  line-height: 100%;
}

.nav-info-links-container {
  list-style: none;
  margin: 0;
  padding-right: 3rem;
  height: 100%;
  margin-left: auto;
  display: flex;
  flex-shrink: 0;
}

.nav-info-links-container li {
  position: relative;
  display: flex;
  align-items: center;
}

.info-links-btn {
  padding: 0 5px;
  height: 100%;
  z-index: 1;
  font-size: 0.8rem;
  font-family: sans-serif;
  font-weight: 600;
  background-color: transparent;
  cursor: pointer;
  color: inherit;
  border: none;
}

.info-links-btn::after {
  content: '';
  height: 1px;
  width: 100%;
  background-color: #fff;
  position: absolute;
  bottom: 0;
  left: 0;
  transform: scale(0, 1);
  transform-origin: 100% 100%;
  transition: transform 0.3s ease;
}

.info-links-btn:hover::after {
  transform: scale(1, 1);
  transform-origin: 0 100%;
}

.info-links-container {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border: 1px solid hsla(0, 0%, 96%, 0.2);
  background-color: hsla(0, 0%, 5%, 1);
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
  padding: 1rem;
  min-width: 12rem;
  position: absolute;
  top: 2rem;
  right: 0;
  z-index: 1;
  transform: translate(0, 10px);
  transition: all 0.15s cubic-bezier(0.4, 0, 0.2, 1);
  opacity: 0;
  visibility: hidden;
}

.info-links-container li {
  padding: 2px;
}

.nav-info-links-container li:first-child:hover .info-links-container {
  visibility: visible;
  opacity: 1;
  transform: translate(0, 0);
}

.line {
  border-bottom: 1px solid hsla(0, 0%, 96%, 0.2);
  width: calc(100% - 6rem);
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

.nav-main-container {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  height: 3rem;
  padding: 0 3rem;
}

.nav-logo {
  padding-right: 1rem;
  margin-right: auto;
}

.logo-img-wrapper {
  display: block;
  position: relative;
}

.logo-img-wrapper {
  text-decoration: none;
  color: #fff;
  font-weight: 800;
  font-size: 1.2rem;
}

.logo-img-wrapper img {
  width: 14px;
  position: absolute;
  top: 0px;
  right: -16px;
}

.nav-links-wrapper {
  height: 100%;
  display: flex;
  list-style: none;
  padding: 0;
  margin-right: auto;
  margin-left: auto;
}

.nav-links-wrapper li {
  height: 100%;
  width: 100%;
}

.nav-expandable-component {
  height: 0;
  transition: height 0.12s ease;
}

.nav-expandable-component.open {
  height: 250px;
  transition: height 0.12s ease;
}

.link-l1-container {
  position: absolute;
  left: 0;
  width: 100%;
  padding: 3rem;
  padding-top: 0;
  opacity: 0;
  visibility: hidden;
  transition: all 0.15s cubic-bezier(0.4, 0, 0.2, 1);
  z-index: 2;
}

.nav-links-wrapper li:hover .link-l1-container {
  opacity: 1;
  visibility: visible;
  transition: all 0.15s cubic-bezier(0.4, 0, 0.2, 1) 0.12s;
}

.link-l1-inner-container {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 2rem;
  padding-top: 0.8rem;
  transform: translate(0, 3rem);
  transition: transform 0.7s cubic-bezier(0, 0.4, 0, 1.02) 0.12s;
  border-top: 1px solid hsla(0, 0%, 96%, 0.2);
}

.nav-links-wrapper li:hover .link-l1-inner-container {
  transform: translate(0, 0);
}

.link-l1-nested-links-wrapper {
  display: flex;
  flex: 1;
  column-count: 2;
  list-style: none;
  padding: 0;
}

.link-l2 {
  padding-left: 1rem;
  padding-right: 1rem;
  padding-bottom: 2rem;
  break-inside: avoid;
}

.link-l2-title {
  color: #fff;
  font-weight: 700;
  font-size: 1rem;
}

.sublink-box {
  list-style: none;
  padding: 0;
}

.sublink-box li {
  padding-bottom: 2px;
  display: flex;
  justify-content: flex-start;
}

.nav-items-wrapper {
  list-style: none;
  padding: 0;
  display: flex;
  align-items: center;
  height: 100%;
  margin-left: auto;
}

.nav-items-wrapper li {
  height: 100%;
  display: flex;
  align-items: center;
}

.nav-quick-search-item-btn,
.nav-minicart-btn {
  margin: 0;
  padding: 0;
  font-size: 100%;
  color: inherit;
  line-height: 100%;
  background-color: transparent;
  cursor: pointer;
  border: none;
  height: 2.5rem;
  width: 2.5rem;
  border-radius: 9999px;
  transition: all 0.15s cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-quick-search-item-btn:hover,
.nav-minicart-btn:hover {
  background-color: hsla(0, 0%, 96%, 0.2);
}
