.navbar-container {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  margin: 0 10rem;
  border: 1px solid #d1d1d1;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.navbar-info-login {
  display: flex;
  border-bottom: 1px solid #d1d1d1;
  align-items: center;
  height: 30px;
  justify-content: space-between;
  margin: 0 30px;
}

.navbar-info-login ul {
  list-style: none;
  height: 100%;
  display: flex;
}

.navbar-info-login li {
  height: 100%;
  padding-left: 8px;
}

.navbar-category {
  display: flex;
  justify-content: space-between;
  width: 95%;
  height: fit-content;
  margin: 0 auto;
  align-items: center;
  font-family: 'Archivo Black', sans-serif;
}

.navbar-title {
  font-size: 18px;
  text-decoration: none;
  font-weight: bold;
  color: #000;
}

.btn-men,
.btn-women {
  border: none;
  font-size: 15px;
  font-weight: 400;
  padding: 10px 10px;
  background: transparent;
  font-family: 'Archivo Black', sans-serif;
}

.btn-info:hover,
.btn-login:hover {
  cursor: pointer;
  border-bottom: 1px solid #000;
  transition: all 0.3s ease 0.3s;
}

.btn-men:hover,
.btn-women:hover {
  border-bottom: 1px solid #000;
  cursor: pointer;
}
