.navdrawer {
  width: 100%;
  position: fixed;
  left: 0;
  bottom: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  z-index: 25;
  transform: translateY(100%);
  opacity: 0.5;
  transition: transform 0.5s ease;
}

.navdrawer-open {
  width: 100%;
  position: fixed;
  left: 0;
  bottom: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  z-index: 25;
  transform: translateY(0);
  opacity: 1;
  transition: transform 0.5s ease;
}

.navdrawer-backdrop {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  z-index: 20;
  backdrop-filter: blur(4px);
  transition: all 0.5s cubic-bezier(0.4, 0, 0.2, 1);
  opacity: 0;
  visibility: hidden;
}

.navdrawer-backdrop-open {
  cursor: pointer;
  width: 100%;
  height: 100vh;
  position: fixed;
  left: 0;
  bottom: 0;
  z-index: 20;
  backdrop-filter: blur(4px);
  transition: all 0.5s cubic-bezier(0.4, 0, 0.2, 1);
  visibility: visible;
  opacity: 1;
}

.navdrawer-container {
  display: flex;
  flex-direction: column;
  position: relative;
  max-width: 700px;
  width: 100%;
  height: 90vh;
  border: 1px solid var(--color_secondary_20);
  border-radius: 2rem 2rem 0 0;
  background-color: var(--color_primary_80);
  backdrop-filter: saturate(180%) blur(3rem);
  z-index: 30;
}

.navdrawer-header {
  width: 100%;
  padding: 0 3rem;
  position: sticky;
  top: 0;
}

.header-button {
  list-style: none;
  margin: 0;
  padding: 0rem 0;
  display: flex;
  justify-content: center;
  border-bottom: 1px solid var(--color_secondary_20);
}

.header-button > li {
  height: 100%;
  display: flex;
  align-items: center;
}

.men-btn,
.women-btn {
  position: relative;
  cursor: pointer;
  font-size: 1rem;
  font-weight: 800;
  color: var(--color_secondary_50);
  line-height: 100%;
  height: 100%;
  padding: 1rem 1rem;
  border: none;
  outline: none;
  background-color: transparent;
}

.men-btn::after,
.women-btn::after {
  content: '';
  height: 2px;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: var(--color_secondary_50);
  transform: scale(0, 1);
  transform-origin: 100% 100%;
  transition: transform 0.5s ease;
}

.men-btn-active,
.women-btn-active {
  position: relative;
  cursor: pointer;
  font-size: 1rem;
  font-weight: 800;
  color: var(--color_secondary);
  line-height: 100%;
  height: 100%;
  padding: 1rem 1rem;
  border: none;
  outline: none;
  background-color: transparent;
}

.men-btn-active::after,
.women-btn-active::after {
  content: '';
  height: 2px;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: var(--color_secondary);
  transform: scale(1, 1);
  transform-origin: 0 100%;
  transition: transform 0.5s ease;
}
