.product_card {
  display: flex;
  flex-flow: column;
}

.top_container {
  position: relative;
  padding-top: 133%;
  overflow: hidden;
  border-radius: 10px;
}

.top_container img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
