.products_carousel_container {
  display: block;
  margin: 0;
  padding: 2rem 6rem;
}

.products_carousel_header {
  display: flex;
  width: 100%;
  align-items: center;
}

.products_carousel_header button {
  margin: 0.5rem 0;
  line-height: normal;
  padding: 5px 10px;
  background-color: var(--color_secondary);
  box-shadow: 0 0 2rem var(--color_primary_20);
  opacity: 0.8;
  color: var(--color_primary);
  border-radius: 20px;
  font-weight: 600;
  font-size: 1rem;
  cursor: pointer;
  flex-shrink: 0;
  transition: all 0.3s ease;
}

.products_carousel_header button:hover {
  opacity: 1;
}
