.product_card {
  display: flex;
  flex-flow: column;
}

.top_container {
  position: relative;
  padding-top: 133%;
  overflow: hidden;
  border-radius: 10px;
  display: flex;
  justify-content: center;
}

.product_link {
  width: 100%;
  height: 100%;
}

.product_link span {
  position: absolute;
  top: 1rem;
  left: 1rem;
  font-size: 8px;
  font-weight: 600;
  padding: 3px 9px;
  margin: 0;
  border-radius: 0.375rem;
  background-color: var(--color_primary);
  color: var(--color_secondary);
}

.product_images_container img:first-child {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.product_images_container img:last-child {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  visibility: hidden;
}

.top_container:hover .product_images_container img:first-child {
  visibility: hidden;
}

.top_container:hover .product_images_container img:last-child {
  visibility: visible;
}

.responsive_quick_add_container {
  display: none;
}

.quick_add_container {
  position: absolute;
  bottom: -100%;
  width: calc(100% - 2rem);
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
  background-color: var(--color_primary);
  transition: all 0.5s cubic-bezier(0.4, 0, 0.2, 1);
}

.quick_add_container span {
  font-size: 1rem;
  font-weight: 700;
  height: 40px;
  width: calc(100% - 1rem);
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--color_secondary);
  padding: 0.5rem;
  border-bottom: 1px solid var(--color_secondary_20);
}

.size_btn_container {
  width: 100%;
  padding-left: 1.8rem;
  padding-right: 1.8rem;
  padding-top: 10px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.size_btn_container button {
  margin: 0 2px 5px;
  width: 2rem;
  height: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  font-weight: 600;
  color: var(--color_secondary_40);
  background-color: transparent;
  border: none;
}

.size_btn_container button:hover {
  cursor: pointer;
  background-color: var(--color_secondary_20);
  border-radius: 5px;
}

.product_card:hover .quick_add_container {
  bottom: -85px;
  transition: all 0.15s cubic-bezier(0.4, 0, 0.2, 1);
}

.product_card:hover .quick_add_container:hover {
  bottom: 5px;
  transition: all 0.15s cubic-bezier(0.4, 0, 0.2, 1);
}

.bottom_container {
  margin-top: 0rem;
  padding-top: 0;
  position: relative;
  width: 100%;
  padding-bottom: 0.5rem;
}

.product_info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

.product_info h3 {
  margin: 0;
}

.product_info div {
  display: flex;
  align-items: center;
}

.product_color_info > span:first-child {
  font-size: 0.8rem;
  font-weight: 700;
  color: var(--color_secondary_70);
  margin-right: 2px;
}

.product_color_info > span:last-child {
  display: inline-block;
  font-size: 9px;
  font-weight: 600;
  color: var(--color_secondary);
  background-color: var(--color_secondary_40);
  padding: 1px 4px;
  border-radius: 0.375rem;
}

.product_price_info > span {
  font-size: 0.8rem;
  font-weight: 700;
}

.colorways_container {
  width: 100%;
  position: absolute;
  top: 5px;
  display: flex;
  align-items: center;
  padding-left: 7px;
  padding-top: 3px;
  padding-bottom: 3px;
  background-color: var(--color_primary);
  border-radius: 10px;
  border: 1px solid var(--color_secondary_20);
  overflow: hidden;
  visibility: hidden;
  transition: all 0.15s linear;
}

.swiper {
  width: 100%;
}

.swiper-slide {
  max-width: 3rem;
  background-color: var(--color_primary);
  border-radius: 5px;
  overflow: hidden;
  padding-bottom: 22.22%;
}

.swiper-slide img {
  width: 100%;
  height: 100%;
  position: absolute;
  bottom: 0;
}

.product_card:hover .product_info {
  display: none;
}

.product_card:hover .colorways_container {
  visibility: visible;
}

@media screen and (max-width: 800px) {
  .quick_add_container {
    display: none;
  }

  .responsive_quick_add_container {
    display: inline-block;
  }

  .responsive_quick_add_container > i {
    position: absolute;
    bottom: 1rem;
    right: 1rem;
    color: var(--color_primary);
    font-size: 2rem;
  }

  .product_info h3 {
    font-size: 0.8rem;
    margin: 0;
  }
}
