.section_slideshow {
  display: block;
  padding: 1.5rem 5rem;
}

.slideshow_container {
  margin: 0 auto;
  position: relative;
  max-width: 1234px;
  border-radius: 3rem;
  opacity: 0.8;
  overflow: hidden;
  transform: perspective(500px) translateZ(0);
  transition: all 1s cubic-bezier(0, 0.51, 0.25, 1);
}

.slideshow_container:hover {
  opacity: 1;
  transform: perspective(500px) translateZ(10px);
}

.slideshow_container .swiper {
  background-color: var(--color_primary);
  overflow: hidden;
  height: 100%;
  border-radius: 3rem;
  padding-top: 56.25%;
}

/* Using slideshow.css, can call directly .slideshow_container .swiper .swiper-wrapper (right click on web, select inspect to 
see why .swiper-wrapper) */
/* Using slideshow.module.css, it can't call like above, so I call first div tag to override "default .swiper-wrapper" (second div tag is swiper-pagination) */
.slideshow_container .swiper > div:first-child {
  position: absolute;
  top: 0;
  left: 0;
}

.swiper-slide {
  background-color: var(--color_primary);
}

.title {
  height: 100%;
  width: 100%;
}

.title_media_container {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
}

.title_media_container video {
  max-width: 100%;
  object-fit: cover;
  display: block;
  height: 100%;
  width: 100%;
  opacity: 1;
}

.title_media_container img {
  max-width: 100%;
  object-fit: cover;
  opacity: 1;
}

.cta {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 4rem;
  z-index: 2;
}

.cta_title {
  font-size: 2.2rem;
  line-height: normal;
  max-width: 40rem;
  margin: 0;
}

.cta_desc {
  font-weight: 500;
  font-size: 1rem;
  margin-top: 5px;
}

.cta_btn_container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.cta_btn_link {
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: 700;
  padding: 9px 18px;
  background-color: var(--color_secondary_50);
  color: var(--color_secondary);
  margin-top: 10px;
  border-radius: 6rem;
  backdrop-filter: blur(1rem);
  transition: all 0.2s ease-out;
}

.cta_btn_link:hover {
  background-color: var(--color_secondary_80);
  transform: translateY(-10%);
  color: var(--color_primary);
}

.slideshow_container .swiper > div:last-child {
  width: 100%;
  display: flex;
  justify-content: center;
  position: absolute;
  bottom: 10px;
  left: 0;
  z-index: 10;
}
