.section_slideshow {
  display: block;
  padding: 1.5rem 5rem;
}

.slideshow_container {
  width: 100%;
  height: 100%;
  max-width: 1234px;
  margin: 0 auto;
  border-radius: 3rem;
  box-shadow: 0 0 15px var(--color_secondary_20);
  overflow: hidden;
  transform: perspective(500px) translateZ(0);
  transition: transform 1s cubic-bezier(0, 0.51, 0.25, 1);
}

.slideshow_container:hover {
  transform: perspective(500px) translateZ(10px);
}

.slideshow_container .swiper {
  width: 100%;
  height: 100%;
  padding-top: 56.25%;
  position: relative;
}

/* this is swiper-wrapper*/
.slideshow_container .swiper > div:first-child {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  border-radius: 3rem;
  overflow: hidden;
}

.swiper-slide {
  width: 100%;
  height: 100%;
}

.title {
  height: 100%;
  width: 100%;
}

.title_media_container {
  position: absolute;
  top: 0;
  height: 0;
}

/*this video when responsive window*/
.title_media_container video:last-child,
.title_media_container img:last-child {
  display: none;
}

.title_media_container video,
.title_media_container img {
  max-width: 100%;
  width: 100%;
}

.cta {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 4rem;
  width: 100%;
}

.cta_title {
  font-size: 2.2rem;
  line-height: normal;
  max-width: 40rem;
  margin: 0;
}

.cta_desc {
  font-weight: 500;
  font-size: 1rem;
  margin-top: 5px;
}

.cta_btn_container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.cta_btn_link {
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: 700;
  padding: 9px 18px;
  background-color: var(--color_secondary_50);
  color: var(--color_secondary);
  margin-top: 10px;
  border-radius: 6rem;
  backdrop-filter: blur(1rem);
  transition: all 0.2s ease-out;
}

.cta_btn_link:hover {
  background-color: var(--color_secondary_80);
  transform: translateY(-10%);
  color: var(--color_primary);
}

.slideshow_container .swiper > div:last-child {
  width: 100%;
  display: flex;
  justify-content: center;
  position: absolute;
  bottom: 10px;
  left: 0;
}

@media screen and (max-width: 800px) {
  .section_slideshow {
    padding: 1.5rem 1.5rem;
  }

  .slideshow_container {
    border-radius: 1rem;
  }

  .slideshow_container .swiper {
    padding-top: 125%;
  }

  /* this is swiper-wrapper*/
  .slideshow_container .swiper > div:first-child {
    border-radius: 1rem;
  }

  .title_media_container video:first-child,
  .title_media_container img:first-child {
    display: none;
  }

  .title_media_container video:last-child,
  .title_media_container img:last-child {
    display: block;
  }

  .cta {
    display: none;
  }
}
